.shell {
  box-sizing: border-box;
  color: #ddd;
  font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  height: 100%;
  overflow: auto;
  padding: 0 15px;
  position: fixed;
  width: 100%;
}
